.navbar {
  height: 50px;
  background: green;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.listItem {
  margin-right: 20px;
  cursor: pointer;
}
